/* ¯\_(ツ)_/¯ */

/* LIGHT 300 */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");
/* LIGHT 300 italic*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap");
/* MEDIUM 500 */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap");
/* BOLD 700*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap");
/* BOLD 700 italic */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&display=swap");

/* ROBOTO TEXT SPECIALY FOR LOGO */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Roboto:wght@300&display=swap');

:root {
  --text--font-family: "Cormorant Garamond", serif;
  --logo-text--font-family: "Roboto", sans-serif;
  --text--font-family-allura: "Allura", cursive;
  --text--color--black-color: black;
  --text--color--white-color: white;
  --icon--color--white-color: white;
  --icon--color--black-color: black;
  --theme--color--light-orange-color: #e4b78b;
  --theme--color--orange-color: #e0ac7b;
  --theme--color--white-color: white;
}

/* Width of scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track of scrollbar */
::-webkit-scrollbar-track {
  background: #505050;
}

/* Handle of scrollbar */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.664);
}

/* Handle on hover of scrollbar */
::-webkit-scrollbar-thumb:hover {
  background: rgba(228, 184, 139, 0.472);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

body {
  display: block;
  /* overflow-y: hidden; */
}

.contacts {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 10vw;
  font-size: 1.5rem;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}
.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  /* border: 1px solid black; */
  box-shadow: 10px 10px 35px rgb(204 204 204);
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
  z-index: 1000;
}

#overlay.active{
  opacity: 1;
  pointer-events: all;
  z-index: 100;
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--text--font-family);
  /* border-bottom: 1px solid black; */
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
  font-weight: 900;
  font-size: 2.5rem;
  margin-top: 1.5rem;
}

.decoration-underline{
  width: 100px;
  height: 1.5px;
  background-color:black;
  border: 1px solid black;
  border-radius: 100px;

}

.decoration-underline_{
  width: 100px;
  height: 1.5px;
  background-color:black;
  border: 1px solid black;
  border-radius: 100px;
  margin-left: 10rem;
}

.modal-header .tell, .mail{
  font-weight: 900;
  font-size: 1.3rem;
}

.modal-header .tell{
  margin-top: .8rem;
}

.modal-header .mail a:link {
  color: var(--text--color--black-color);
  text-decoration: none;
}

.modal-header .contact-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: .8rem;
  margin-bottom: .8rem;
  font-size: 1.3rem;
}

.modal-header .postscript{
  font-style: italic;
  color: var(--theme--color--light-orange-color);
  margin-bottom: 1.5rem;
}

.modal-header .mail_ a:link {
  color: var(--text--color--black-color);
  text-decoration: none;
}

.modal-header .mail_{
  margin-top: .8rem;
}

.modal-header .mail_{
  font-weight: 900;
  font-size: 1.3rem;
}

.modal-header .postscript_{
  font-style: italic;
  color: var(--theme--color--light-orange-color);
  margin-top: .8rem;
  margin-bottom: 1.5rem;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  color:#505050;
}


.contacts button{
  background: none;

}

.contacts button i{
  font-size: 1.5rem;
  cursor: pointer;
}

.contacts a:link {
  color: var(--text--color--black-color);
  text-decoration: none;
}

.contacts a:visited {
  color: var(--text--color--black-color);
}

.contacts a:hover {
  color: var(--theme--color--orange-color);
  transition: 0.7s;
}

.contacts button i:hover {
  color: var(--theme--color--orange-color);
  transition: 0.7s;
}

.landing-page {
  background-image: linear-gradient(
      to bottom,
      rgba(104, 104, 104, 0),
      rgba(0, 0, 0, 0.739)
    );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  /* width: 100vw; */
  background-position: center;
  display: flex;
  align-items: flex-end;
  animation: change 30s infinite ease-in-out;
}

@keyframes change {
  0% {
    background-image: url(/photos/profile1.jpg);
  }
  20% {
    background-image: url(/photos/profile3.jpg);
  }
  40% {
    background-image: url(/photos/profile4.jpg);
  }
  60% {
    background-image: url(/photos/profile5.jpg);
  }
  80% {
    background-image: url(/photos/profile6.jpg);
  }
  100% {
    background-image: url(/photos/profile1.jpg);
  }
}

.landing-page--container {
  height: 70vh;
  display: flex;
  justify-content: flex-start;
  margin-left: 10vw;
}

.landing-page__contact-menu {
  display: flex;
  background-color: rgba(165, 165, 165, 0.445);
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border-right: 2px solid rgba(228, 183, 139, 1);
}

.landing-page__contact-menu--rolled--tags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--text--color--white-color);
  font-family: var(--text--font-family);
  font-weight: 300;
  font-size: 1.5rem;
  margin-left: 3vw;
  margin-right: 3vw;
}

.circle-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-text .far {
  font-size: 0.9rem;
  color: var(--theme--color--orange-color);
}

.menu-element {
  margin-left: 0.5rem;
}

.contact-menu__logo-both {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 2vw;
  margin-right: 2vw;
}

.contact-menu__logo img {
  /* margin-top: 1.5rem; */
  /* width: 124.75px; */
  height: 180px;
}

.contact-menu__logo p {
  color: var(--text--color--white-color);
  font-family: var(--logo-text--font-family);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.contact-menu__contact-icons {
  display: flex;
  flex-direction: column;
  color: var(--icon--color--white-color);
}

.contact-menu__contact-icons a:visited {
  color: var(--icon--color--white-color);
}

/* .contact-menu__contact-icons a:link {
  color: var(--icon--color--white-color);
} */

.contact-menu__contact-icons a:hover {
  color: var(--theme--color--orange-color);
  transition: 0.7s;
}

.landing-page__contact-menu--rolled--tags a:visited {
  color: var(--icon--color--white-color);
  /* color: #231F20; */
}

.landing-page__contact-menu--rolled--tags a:link {
  text-decoration: none;
  color: var(--icon--color--white-color);
  text-shadow: -2px 2px 2px #00000083;
}

.landing-page__contact-menu--rolled--tags a:hover {
  color: var(--theme--color--orange-color);
  /* color: white; */
  transition: 0.7s;
}

.landing-page__contact-menu--rolled--tags .circle-text:hover .fa-circle {
  color: var(--theme--color--white-color);
  transition: 0.7s;
}

.fa-envelope,
.fa-instagram {
  margin-top: 1.5rem;
}

.about {
  font-family: var(--text--font-family);
  min-height: 60vh;
  /* width: 100vw; */
  background-color: var(--theme--color--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  box-shadow: inset 0px 4px 25px #888888;
}

.about-heading{
  text-shadow: -1px 1px 3px #00000063;
}

.about__second-half {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left-quote {
  /* background-color: orange; */
  height: 20vh;
  /* width: 35vw; */
  display: flex;
  justify-content: flex-end;
  color: var(--theme--color--light-orange-color);
  font-size: 1.5rem;
}

.about__second-half__text {
  /* padding-left: 25vw;
    padding-right: 25vw; */
  display: flex;
  width: 70vw;
  text-align: center;
  font-family: var(--text--font-family);
  font-weight: 300;
  font-style: italic;
  font-size: 1.5rem;
}

.light-text {
  font-weight: 100;
  font-style: italic;
}

.right-quote {
  /* background-color: orange; */
  height: 20vh;
  /* width: 35vw; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--theme--color--light-orange-color);
  font-size: 1.5rem;
}

.partners {
  background-image: linear-gradient(
      to bottom,
      rgba(104, 104, 104, 0),
      rgba(0, 0, 0, 0.739)
    ),  url(/photos/partners.jpg);
  min-height: 110vh;
  /* width: 100vw; */
  font-size: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.685);
  flex-direction: column;

}

.partners-text{
  font-size: 1.5rem;
  font-family: var(--text--font-family-allura);
  color: var(--theme--color--light-orange-color);
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}

.partners-icons__upper-part, .partners-icons__bottom-part{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.offer {
  min-height: 100vh;
  /* width: 100vw; */
  background-color: var(--theme--color--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 4px 20px #888888;
}

.offer-photo {
  background-color: var(--theme--color--orange-color);
  margin-right: 2.5rem;
  display: flex;
  justify-content:center;
  align-items: center;
  box-shadow: -8px 8px 20px #888888;
}

/* 3149 x 4724 */
.offer-photo img {
  background-color: var(--theme--color--orange-color);
  width: 393.625px;
  height: 590.5px;
  margin-right: 1.2rem;
}

.content_acad {
  /* border: 1px solid var(--theme--color--orange-color); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.middle, .left, .right{
  color: var(--theme--color--orange-color);
}

.content_hors {
  /* border: 1px solid var(--theme--color--orange-color); */
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content_cons {
  /* border: 1px solid var(--theme--color--orange-color); */
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content_acad h2 {
  font-family: var(--text--font-family);
  font-weight: 900;
  color: var(--theme--color--orange-color);
  font-style: italic;
  font-size: 2.5rem;
  text-shadow: -1px 1px 4px #b1b1b1;
}

.content_hors h2 {
  font-family: var(--text--font-family);
  font-weight: 900;
  color: var(--theme--color--orange-color);
  font-style: italic;
  font-size: 2.5rem;
  text-shadow: -1px 1px 4px #b1b1b1;
}

.content_cons h2 {
  font-family: var(--text--font-family);
  font-weight: 900;
  color: var(--theme--color--orange-color);
  font-style: italic;
  font-size: 2.5rem;
  text-shadow: -1px 1px 4px #b1b1b1;
}

.article-content {
  margin-top: 15vh;
  width: 40vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-image: linear-gradient(15deg, white,var(--theme--color--orange-color), var(--theme--color--orange-color), var(--theme--color--orange-color),white, rgba(255, 255, 255, 0.548));
  border-width: 6px;
  border-style: solid;
  padding: 30px;
  border-image-slice: 1;
  border-top:0;
  border-left:0;
  border-right:1;
}

.heading-container {
  display: flex;
  width: 38vw;
  justify-content: flex-start;
}

.article-content .heading-of-article {
  font-family: var(--text--font-family);
  font-weight: 500;
  /* font-style: italic; */
  color: var(--text--color--black-color);
  font-size: 1.5rem;
}

.bold-text {
  font-weight: 900;
  font-style: italic;
}

.bold-text-nonitalic {
  font-weight: 900;
}

.dots {
  margin-top: 10vh;
  font-size: 0.71rem;
  color: rgba(182, 182, 182, 0.424);
}

.article-content p {
  text-align: center;
  font-family: var(--text--font-family);
  font-weight: 100;
  font-style: italic;
  color: var(--text--color--black-color);
  font-size: 1.2rem;
  margin-top: 5vh;
}

.article-buttons {
  display: flex;
  margin-top: 10vh;
  font-size: 1.1rem;
  font-family: var(--text--font-family);
  color: var(--text--color--black-color);
}

.article-buttons a:visited {
  color: var(--text--color--black-color);
}

.article-buttons a:link {
  text-decoration: none;
}

.article-buttons .academy:hover {
  color: var(--theme--color--orange-color);
  transform: scale(1.1);
  transition: 0.7s;
  cursor: pointer;
}

.article-buttons .horses:hover {
  color: var(--theme--color--orange-color);
  transform: scale(1.1);
  transition: 0.7s;
  cursor: pointer;
}

.article-buttons .consulting:hover {
  color: var(--theme--color--orange-color);
  transform: scale(1.1);
  transition: 0.7s;
  cursor: pointer;
}

.article-button_ {
  margin-left: 2vw;
}

/* .instagram-integration{
  min-height: 100vh;
  width: 100vw;
} */

.main-footer {
  background-color: var(--theme--color--light-orange-color);
  color: var(--text--color--white-color);
  font-family: var(--text--font-family);
  font-size: 1rem;
  font-weight: 300;
  height: 3rem;
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.main-footer a:link {
  color: var(--text--color--white-color);
  text-decoration: none;
}

.main-footer a:visited {
  color: var(--text--color--white-color);
  text-decoration: none;
}

.main-footer a:hover {
  color: var(--text--color--black-color);
  font-weight: 900;
  transition: 1s;
  text-decoration: none;
}

.main-footer .footer-icon img {
  height: 31.58px;
  width: 41.57px;
}

.main-footer a:hover{
  transform: rotateZ(11deg);
}

.footer-copyright,
.footer-button {
  margin-left: 1rem;
  margin-right: 1rem;
}

.impresum-text {
  margin-top: .5vw;
  margin-bottom: 1vw;
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--text--font-family);
}

.separate-text {
  text-align: center;
  margin: 1rem;
  margin-left: 5vw;
  margin-right: 5vw;
}

.separate-text h1 {
  margin-bottom: 1rem;
  color: var(--theme--color--orange-color);
  font-family: var(--text--font-family);
  font-weight: 900;
}

@media only screen and (max-width: 1700px) {

}


@media only screen and (max-width: 1520px) {

}

@media only screen and (max-width: 1400px){
    .landing-page__contact-menu--rolled--tags {
        margin-left: 20vw;
        margin-right: 20vw;
    }

    .landing-page__contact-menu--rolled--tags {
      margin-left: 3vw;
      margin-right: 3vw;
    }

    
}

@media only screen and (max-width: 1300px){
    .offer{
        flex-direction: column;
    }

    .offer-photo{
        margin: 2.5rem;
    }

    .content_acad, .content_hors, .content_cons{
        margin-bottom: 2.5rem;
    }

    .article-content{
      width: 40vw;
        margin-top: 0;
    }

    .offer-heading{
        display: None;
    }

    .heading-container{
        width: 40vw;
        justify-content: center;
    }

    .article-content p{
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 1024px){

}

@media only screen and (max-width: 1000px) {
  .landing-page__contact-menu--rolled--tags {
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .landing-page--container {
    height: 75vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-left: 0;
}

}

@media only screen and (max-width: 850px) {
  .offer-photo img {
    width: 196.8125px;
    height: 295.25px;
    margin-right: .3rem;
}

  .contacts {
    width: 20vw;
    font-size: 1.5rem;
  }

  .right-quote, .left-quote{
    display: none;
  }

  .about__second-half__text {
    display: flex;
    width: 50vw;
    text-align: center;
    font-family: var(--text--font-family);
    font-weight: 300;
    font-style: italic;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.article-content p {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.about__second-half {
  margin-top: 1.5rem;
}

.kempknes_photo{
  width: 200px;
  height: 61.5px;
}

.scharnebecker_photo{
  width: 232.33px;
  height: 83.3px;
}

.förderkreis_photo{
  width: 196.3548px;
  height: 60.86772px;
}

.neue_photo{
  width: 151px;
  height: 59.5px;
}

.sieversen_photo{
  width: 150px;
  height: 192.5px;
}

}

@media only screen and (max-width: 500px) {

  .article-content {
    width: 55vw;

}

}
