/* ¯\_(ツ)_/¯ */

/* LIGHT 300 */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
/* LIGHT 300 italic*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');
/* ˇMEDIUM 500 */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
/* BOLD 700*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');
/* BOLD 700 italic */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&display=swap');

/* ROBOTO TEXT SPECIALY FOR LOGO */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --text--font-family: 'Cormorant Garamond', serif;
    --logo-text--font-family: 'Roboto', sans-serif;
    --text--color--black-color: black;
    --text--color--white-color: white;
    --icon--color--white-color: white;
    --icon--color--black-color: black;
    --theme--color--light-orange-color: #E4B78B;
    --theme--color--orange-color: #E0AC7B;
    --theme--color--white-color: white;
    
}

/* Width of scrollbar */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track of scrollbar */
  ::-webkit-scrollbar-track {
    background: #505050;
  }
  
  /* Handle of scrollbar */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.664);
  }
  
  /* Handle on hover of scrollbar */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(228, 184, 139, 0.472);
  }

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
}

body{
    display: block;
    /* overflow-y: hidden; */
}

.landing-page{
    background-image: linear-gradient(to bottom, rgba(104, 104, 104, 0), rgba(0, 0, 0, 0.739)), url(/photos/profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-width: 100vw;
    background-position: center;
    display: flex;
    align-items: flex-end; 
}

.landing-page--container{
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.landing-page__contact-menu{
    display: flex;
    background-color: rgba(196, 196, 196, 0.35);
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-right: 2px solid rgba(228, 183, 139, 1);
}

.landing-page__contact-menu--rolled{
    display: flex;
    background: linear-gradient(135deg, rgba(228, 183, 139, .3) 20%, rgba(228, 183, 139, 0));
    justify-content: space-evenly;
}

.landing-page__contact-menu--rolled--tags{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text--color--white-color);
    font-family: var(--text--font-family);
    font-weight: 300;
    font-size: 1.5rem;
    margin-left: 25vw;
    margin-right: 25vw;
}

.circle-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-text .far{
    font-size: .9rem;
    color: var(--theme--color--orange-color);
}

.menu-element{
    margin-left: .5rem;
}

.contact-menu__logo-both{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
}

.contact-menu__logo img{
    width: 124.75px;
    height: 94.75px;
}

.contact-menu__logo p{
    color: var(--text--color--white-color);
    font-family: var(--logo-text--font-family);
    font-weight: 500;
    text-transform: uppercase;
    font-size: .7rem;
}

.contact-menu__contact-icons{
    display: flex;
    flex-direction: column;
    color: var(--icon--color--white-color);  
}

.fa-envelope, .fa-instagram{
    margin-top: 1.5rem;
}

.about{
    height: 100vh;
    width: 100vw;
    background-color: var(--theme--color--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__second-half{
    margin-top: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-quote{
    /* background-color: orange; */
    height: 20vh;
    width: 35vw;
    display: flex;
    justify-content: flex-end;
    color: var(--theme--color--light-orange-color);
}

.about__second-half__text{
    /* padding-left: 25vw;
    padding-right: 25vw; */
    text-align: center;
    font-family: var(--text--font-family);
    font-weight: 300;
    font-style: italic;
    font-size: 1.5rem;
}

.right-quote{
    /* background-color: orange; */
    height: 20vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--theme--color--light-orange-color);
}


