/* ¯\_(ツ)_/¯ */

/* LIGHT 300 */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
/* LIGHT 300 italic*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');
/* ˇMEDIUM 500 */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
/* BOLD 700*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');
/* BOLD 700 italic */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&display=swap');

:root{
    --text--font-family: 'Cormorant Garamond', serif;
    --text--color--black-color: black;
    --text--color--white-color: rgba(211, 210, 210, 1);
    --text--color--grey-color: rgba(65, 65, 65, 0.72);
    --text--color--light__grey-color: rgba(130, 130, 130, 0.83);
    --text--color--darker__grey-color: rgba(65, 65, 65, 0.75);
    --text--color--orange-color: rgba(255, 138, 0, 1);
    --text--color--light_orange-color: rgba(255, 168, 105, 1);
    --text--color--lighter_orange-color: rgba(255, 203, 142, 1);
    --color--light_orange-color: rgba(255, 173, 78, 1);
    --profile--photo-color: rgba(255, 186, 105, 1);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
}