/* ¯\_(ツ)_/¯ */

/* LIGHT 300 */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
/* LIGHT 300 italic*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');
/* ˇMEDIUM 500 */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
/* BOLD 700*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');
/* BOLD 700 italic */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&display=swap');

:root{
    --text--font-family: 'Cormorant Garamond', serif;
    --text--color--black-color: black;
    --text--color--white-color: white;
    --icon--color--white-color: white;
    --icon--color--black-color: black;
    --theme--color--light-orange-color: #E4B78B;
    --theme--color--orange-color: #E0AC7B;
    
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
}

.landing-page{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    position: relative;
    background-image: url(photos/landing-page--photo.jpg);
}